{% extends 'polls/navbar.html' %}

{% block content %}
    <h1 class="p-2 ">{{ question.question_text }}
        <a class="btn btn-outline-primary"
                             onclick="document.location='../../polls/{{ question.id }}/update/'">Изменить вопрос</a>
        <a class="btn btn-outline-primary"
                             onclick="document.location='../../polls/{{ question.id }}/question_delete/'">Удалить вопрос</a>
    </h1>


    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form class = "p-2" action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label style="margin-right: 50px" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <a class="btn btn-primary btn-sm btn-lg"
               onclick="document.location='../../polls/{{ choice.id }}/update_choice'">Изменить</a>
        <a class="btn btn-primary btn-sm btn-lg"
               onclick="document.location='../../polls/{{ choice.id }}/choice_delete/'">Удалить</a><br><br>
    {% endfor %}
        <button class="btn btn-primary btn-sm btn-dark" type="submit" style="width: 150px">Голосовать</button>
    </form>
{% endblock %}