<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Опросы и блоги</h1>
            <p>На этом сайте вы проходить опросы и просматривать блоги, а так же добавлять и редактировать их.</p>
            <a href="/polls" class="btn btn-primary">Опросы</a>
            <a href="/blogs" class="btn btn-primary">Блоги</a>
        </div>
    </div>
</body>
</html>